# Framework
fastapi[all]
uvicorn[standard]

# Configuración y Modelos
pydantic
pydantic-settings
python-dotenv

# Lógica de Negocio y Servicios
openai
requests

# Web scrapping
bs4
pandas

# Neo4j driver for connecting to a Neo4j database
neo4j

networkx